*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    border: solid;
}

header{ 
    background-color: rgb(30, 10, 10);
    width:100%;
    height:145px;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("gradiente.jpg") no-repeat center center fixed;
    background-size: 100%;

}


#principal{
    margin-top: -100vh;
    padding: 10px;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



 .titulocard{
    background-color: rgb(102, 5, 5);
    height: 10rex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
aside{
    position: sticky;
    top: 0;
    background-color: rgb(113, 63, 2);
    width: 250px;
    height: 100vh;
    z-index: 1;
    display: block;
    border: solid;
}
div .logo{
    top: -50px;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.logogo{
    max-width:330px;
    height: auto;    
    position:relative;
    
    

}

#yugisafado{
    width: 280px;
    height: 390px;
    border: solid;
    float: left;
    margin: 5px;
    position:relative
   
    
}

.sinopse{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }


.personagemtabela{
    width: 200px;
    margin: 10px;
    height: 250px;
    border: solid;
    border-radius: 10px;
    button:hover {
        background-color: #4CAF50; 
      }
      
}

.nomepersonagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.protagonista{
    width: 250px;
    height: 442px;
    border: solid;
    margin: 5px;;

}

.sinopse{
    margin: 2%;
    
}

.sinopse2{
    font-size:large;
}

.cartinhas{
    float: left;
    width: 6%;
    background-color:rgb(102, 5, 5) ;
    height: 10rex;
}

#imagemcarta{
    width: 3rem;
}

#imagemcarta2{
    width: 3rem;
}

.divaside{
    height: 20%;
}

.divasi{
    height: 15%;
}

#aside1{
    height: 14rem;
    margin: 5px;
}

#aside2{
    height: 13rem;
    margin-left: 15px;
}

#aside3{
    height: 11rem;
    margin-right: 20px;
    
}

footer{
   padding: 60px; 
   text-align: center;
   background-color: black;
   color: aliceblue;
}

#sobre{
    border: solid;
    margin: 10px;
    max-width: 40%; ;
    border-radius: 5px;
    background-color: white;
}

#cartas{
    border: solid;
    margin: 10px;
    max-width: 40%;
    border-radius: 5px;
    background-color: white;

}

#personagens{

    border: solid;
    margin: 10px;
    max-width: 40%; ;
    border-radius: 5px;
    background-color: white;

}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
    transition: all 1s;
}

.trilho{
    background-color: rgb(91, 113, 113);
    border-radius: 150px;
    max-width: 100px;
    display: flex;
     width: 80px;
     height: 40px;
     cursor: pointer;
 }

 h1{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

 }

 .darkmode{
    top: 145px; 
    right: 0; 
    margin: 30px;
    margin-right: 15px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    

 }

 .trilho .indicador{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    transition: .5s;
 }

 trilho.dark{
    background-color: antiquewhite;


 }


 .trilho.dark .indicador{
    margin-left: 40px;
    background-color: white;


 } 

 body.dark{
    background-color: rgb(79, 49, 49);


 }

 body.dark h1{

    color: white;
 }

 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;


 }
